<div class="container">
    <div class="col-12 text-center pt-4">
        {% if page_obj.has_other_pages %}
            <nav aria-label="Paginación" class="d-flex justify-content-center">
                <ul class="pagination mb-0">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if search_query %}&q={{ search_query }}{% endif %}" aria-label="Anterior">
                                &laquo;
                            </a>
                        </li>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                        <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                            <a class="page-link" {% if page_obj.number != num %}href="?page={{ num }}{% if search_query %}&q={{ search_query }}{% endif %}"{% endif %}>
                                {{ num }}
                            </a>
                        </li>
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if search_query %}&q={{ search_query }}{% endif %}" aria-label="Siguiente">
                                &raquo;
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
</div>