{% load static %}
{% include 'logistics/includes/newsletter_modal.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi, shrink-to-fit=no">
    <script src="{% static 'js/reactDefaultThemes.js' %}"></script>
    <script src="{% static 'js/softr-page-renderer.min.js' %}"></script>

<meta name="twitter:title" content="MercadoLogistico Latam"><meta property="twitter:title" content="MercadoLogistico Latam"><meta property="og:title" content="MercadoLogistico Latam">
<meta name="twitter:description" content="Busca, encuentra, contrata y evalua los servicios de los proveedores de servicios de cadena de abastecimiento mas grande de Latinoamerica"><meta property="twitter:description" content="Busca, encuentra, contrata y evalua los servicios de los proveedores de servicios de cadena de abastecimiento mas grande de Latinoamerica"><meta property="og:description" content="Busca, encuentra, contrata y evalua los servicios de los proveedores de servicios de cadena de abastecimiento mas grande de Latinoamerica">
<meta property="og:image" content="{% static 'images/logo_black.jpg' %}"><meta name="twitter:image" content="{% static 'images/logo_black.jpg' %}"><meta name="twitter:card" content="summary_large_image">

<title>Mercado Logístico | Oficial</title>
<meta name="description" content="MercadoLogistico es la comunidad de proveedores logisticos mas grande Latinoamerica. Ayudamos a empresas de todos los tamaños a digitalizar sus procesos.">


<link rel="icon" type="image/x-icon" href="{% static 'images/logo_black' %}">


<link rel="canonical" href="index.html">
<link href="google/api/css?family=Didact+Gothic:400&display=swap" rel="stylesheet">

<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/all.min.css' %}" rel="stylesheet">

<link rel="stylesheet" href="{% static 'css/newsletter_modal.css' %}">


<link rel="stylesheet" href="{% static 'css/style.css' %}">

<link href="google/api/css-1?family=Inter:500&display=swap" rel="stylesheet">

<!-- App Integrations -->

<!-- End Integrations -->

<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/addEventListener.js' %}"></script>

<script src="{% static 'js/401.js' %}"></script>

<script src="{% static 'js/BlocksRenderedEventName.js' %}"></script>
<script src="{% static 'js/lineup_size_mobile.js' %}"></script>

<!-- Matomo -->
<script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//analytics.mercadologistico.io/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '1']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Code -->

</head>

<body>
    
<!--
<div id="page-content" data-appsubdomain="mercadologistico.softr.app" data-appid="1f37011c-bdff-48c6-8a6b-d2f777aab051" data-pageid="7309ada2-41e5-485d-ac2e-14a4968549ae" data-workspaceid="4ea561f4-2c20-4805-b2c8-926aa4f71faf" data-paymentplan="" class="content">

</div>
-->

<div id="page-content">

</div>

    <button class="open-newsletter-modal">Suscríbete al Newsletter</button>
    
<script src="{% static 'js/rgb2hex.js' %}"></script>

<!-- Scripts -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/micromodal.min.js' %}"></script>

<script src="{% static 'js/openSwModal.js' %}"></script>
<script src="{% static 'js/setInterval.js' %}"></script>

<script src="{% static 'js/ajaxSetup.js' %}"></script>

<script src="{% static 'js/iframeResizer.contentWindow.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'js/newsletter_modal.js' %}"></script>


</body>

</html>
